{{- $osid := .chezmoi.os -}}
{{- if hasKey .chezmoi.osRelease "id" -}}
{{-   $osid = printf "%s-%s" .chezmoi.os .chezmoi.osRelease.id -}}
{{- end -}}
encryption = "age"

[age]
    identity = "~/key.txt"
    recipient = "age1v2s2ae388r6h4dj5knf2ps6l3pp9cxzmu863u3zkxylgkga6n30q9ac7xy"
[data]
    email = "40160099+satorope@users.noreply.github.com"
    osid = {{ $osid | quote }}
{{ if eq .chezmoi.os "windows" -}}
[edit]
    command = "code"
    args = ["--wait"]
{{ end -}}
[git]
    autoCommit = true
    autoPush = true