encryption = "age"
[git]
    autoCommit = true
    autoPush = true
[data]
    email = "40160099+satorope@users.noreply.github.com"
[age]
    identity = "~/key.txt"
    recipient = "age1x7feqm2lx9v0d6d0f02z9mpg22hv4rnrluqsexq79ysrnfj4md2s0asc7e"
