[credential]
	helper = manager-core
[pull]
	ff = only
[init]
	defaultBranch = main
[user]
	name = satorope
	email = {{ .email }}
[filter "lfs"]
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
